<h1>Create your Username and your Password</h1>

<form method="POST" action="/sign-up">
<div class="form-group">
<label for="log-in-username">Username</label>
<input type="username" name="username" placeholder="Your Username Here!">
</div>
<div class="form-group">
  <label for="log-in-password">Password</label>
  <input type="password" name="password" placeholder="Please use a catchy password, dude!">
</div>
<button class="btn btn-danger">sign up</button>
</form>

